<% layout('dashboard/masterAdmin') -%>
<div class="col-lg-12">
  <div class="card">
    <div class="card-header" style="
    color: white">Sửa địa điểm</div>
    <div class="card-body">
      <form method="POST" enctype='multipart/form-data'>
        <div class="form-group">
          <label for="name">Tên*</label>
          <input type="text" name="name" value="<%=detail.name%>" class="form-control" required>
        </div>
        <!-- Ảnh -->
        <div class="form-group">
            <label for="image">Ảnh*</label>
            <div class="input-group">
              <span class="input-group-btn">
                <span class="btn btn-default btn-file" style="position: relative; overflow: hidden;">
                  <i class="fas fa-upload"></i>
                  <input
                  value="<%=detail.image%>"
                  name="image"
                  type="file" 
                  id="image"
                  style="
                    position: absolute;
                    top: 0;
                    right: 0;
                    min-width: 100%;
                    min-height: 100%;
                    font-size: 100px;
                    text-align: right;
                    filter: alpha(opacity=0);
                    opacity: 0;
                    outline: none;
                    background: white;
                    cursor: inherit;
                    display: block;
                  "
                  >
                </span>
              </span>
              <!-- <input type="text" class="form-control" readonly> -->
            </div>
            <img id='img-upload' src="/<%=detail.image%>" value="<%=detail.image%>" style="width: 30%;" />
        </div>
        <div class="row" style="justify-content: center; margin-top: 2em;">
            <button id="update" type="submit" class="btn btn-primary mb-2" style="margin-right: 1em;">Lưu</button>
            <a href="/dashboard/admin/locations"><button type="button" class="btn btn-danger mb-2">Thoát</button></a>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#update").click(function(e) {
    e.preventDefault();

    const formData = new FormData();
    formData.append('name', $('input[name=name]').val());
    formData.append('image', '<%=detail.image%>');

    if($('input[type=file]')[0].files[0]) {
      formData.set('image', $('input[type=file]')[0].files[0]);
    }

    let change = true;
    if(!formData.get('name')){
      change = false;
      swal({
            type: 'error',
            title: 'Có lỗi...',
            text: 'Vui lòng điền đầy đủ thông tin !!!',
            footer: ''
          })
    } if(change){
      $.ajax({
          url: '/dashboard/admin/locations/<%=detail.id%>',
          type: 'POST',
          data: formData,
          success: function (data) {
            if (data) {
              if(data == true){
                swal("Thành công!", "", "success").then(function() {
                  location.href = "/dashboard/admin/locations/<%=detail.id%>";
              });
              }
              else{
                swal({
                type: 'error',
                title: 'Có lỗi...',
                text: data,
                footer: ''
              })
              }
            
            }
            else {
              swal({
                type: 'error',
                title: '',
                text: 'Có lỗi xảy ra! Vui lòng thử lại',
                footer: ''
              })
            }
          },
          error: (request, status, error) => {
            swal(request.responseJSON.message, "", "error");
          },
          cache: false,
          contentType: false,
          processData: false
      });
    }
  });

  $(function () {
    $('input[type="text"]').change(function () {
        this.value = $.trim(this.value);
    });
  });

  $(function () {
    $('textarea[type="text"]').change(function () {
        this.value = $.trim(this.value);
    });
  });

  $(document).ready( function() {
    $(document).on('change', '.btn-file :file', function() {
      let input = $(this),
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {
		    
		    let input = $(this).parents('.input-group').find(':text'),
		        log = label;
		    
		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) return true;
		    }
	    
		});
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        let reader = new FileReader();
		        
		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }
		        
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#image").change(function(){
		    readURL(this);
		}); 	
	});
</script>