<% layout('dashboard/masterAdmin') -%>
<div class="col-md-12 col-lg-12">
  <div class="card">
    <div class="card-header" style="
    color: white">Quản lý nhà tuyển dụng</div>
    <div class="card-body">
      <form action="/dashboard/admin/employers" method="GET" style="margin-top: 1em;">
        <div class="form-row">
          <div class="form-group col-md-2">
            <input type="text" class="form-control" placeholder="Tên nhà tuyển dụng" name="companyName" value="<%= query.companyName %>" />
          </div>
          <div class="form-group col-md-2">
              <button type="submit" class="btn btn-primary">Tìm kiếm</button>
          </div>
        </div>
      </form>
      <form action="" method="POST" style="margin-left: 20em; margin-top: -5.4em;">
        <label for="countView">Lượt xem hồ sơ ứng viên: </label>
        <div class="form-row">
          <div class="form-group col-md-3">
            <input type="text" class="form-control" placeholder="Lượt xem hồ sơ ứng viên" name="countView" value="<%= config.countView %>" />
          </div>
          <div class="form-group col-md-2">
              <button type="submit" class="btn btn-primary" id="postCountView" data-name="<%= config.id %>">Lưu</button>
          </div>
        </div>
      </form>
      <form action="" method="POST" style="margin-left: 40em; margin-top: -5.4em;">
        <label for="countJob">Lượt tạo tin tuyển dụng: </label>
        <div class="form-row">
          <div class="form-group col-md-5">
            <input type="text" class="form-control" placeholder="Lượt tạo tin tuyển dụng" name="countJob" value="<%= config.countJob %>" />
          </div>
          <div class="form-group col-md-2">
              <button type="submit" class="btn btn-primary" id="postCountJob" data-name="<%= config.id %>">Lưu</button>
          </div>
        </div>
      </form>
      <table class="table table-hover" id="dataTables-example" width="100%">
          <a href="/dashboard/admin/employers/create">
            <button type="button" class="btn btn-primary mb-2">Thêm mới</button>
          </a>
          <thead>
            <tr>
              <th>STT</th>
              <th>Ảnh</th>
              <th>Tên Công Ty</th>
              <th>Mã số thuế</th>
              <th>Ngày cấp</th>
              <th>Nơi cấp</th>
              <th>Địa chỉ liên hệ</th>
              <th>SĐT liên hệ</th>
            </tr>
          </thead>
        <tbody>
          <% employer.forEach((item, index) => { %>
            <tr>
              <th scope="row">
                <% if(!query.page || query.page == 1) { %> <%= index + 1 %> <%}%>
                <% if(query.page && query.page != 1) { %> <%= (index + 0) + ((query.page * 10) - 9)%> <%}%>
              </th>
              <td style="width: 10%"><img src="/<%=item.image%>" width="100%"></td>
              <td><%= item.companyName %></td>
              <td><%= item.code %></td>
              <td><%= moment(item.dateRange).format('DD/MM/YYYY'); %></td>
              <td><%= item.issuedBy %></td>
              <td><%= item.address %></td>
              <td><%= item.phone %></td>
              <td>
                <a href="/dashboard/admin/employers/<%= item.id %>" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                <a href="" class="btn btn-outline-danger btn-rounded delete" data-name="<%= item.id %>"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <% if (pages > 1) { %>
          <ul class="pagination justify-content-center">
            <% var i = (Number(current) > 10 ? Number(current) - 9 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 9) && i <= pages; i++) { %>
              <% if (i == current) { %>
                <li class="active page-item"><a class="page-link"><%= i %></a></li>
              <% } else { %>  
                <li class="page-item"><a class="page-link" href="/dashboard/admin/employers?page=<%= i %>&name=<%= query.companyName %>"><%= i %></a></li>
              <% } %>  
              <% if (i == Number(current) + 9 && i < pages) { %>
                <li class="disabled"><a>...</a></li>
              <% } %>
            <% } %>
          </ul>
        <% } %>  
      </nav>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('input[type="text"]').change(function () {
      this.value = $.trim(this.value);
    });
  });
</script>

<script type="text/javascript">
  $(function () {
    $('#postCountView').click(function (e) {
      e.preventDefault();
      const countView = $('input[name=countView]').val();
      const configId = $(this).data('name');
      $.ajax({
        type: 'POST',
        url: '/config/countView',
        data: { countView: countView, configId: configId },
        success: function (data) {
          if (data) {
            swal("Thành công!", "", "success");
          }
          else {
            swal({
              type: 'error',
              title: '',
              text: 'Có lỗi xảy ra! Vui lòng thử lại',
              footer: ''
            })
          }
        },
        error: (request, status, error) => {
          swal(request.responseJSON.message, "", "error");
        },
      });
    });

    $('#postCountJob').click(function (e) {
      e.preventDefault();
      const countJob = $('input[name=countJob]').val();
      const configId = $(this).data('name');
      $.ajax({
        type: 'POST',
        url: '/config/countJob',
        data: { countJob: countJob, configId: configId },
        success: function (data) {
          if (data) {
            swal("Thành công!", "", "success");
          }
          else {
            swal({
              type: 'error',
              title: '',
              text: 'Có lỗi xảy ra! Vui lòng thử lại',
              footer: ''
            })
          }
        },
        error: (request, status, error) => {
          swal(request.responseJSON.message, "", "error");
        },
      });
    });

    $('.delete').click(function (e) {
      e.preventDefault()
      const employerId = $(this).data('name');
        $.ajax({
        type: 'POST',
        url: `/dashboard/admin/employers/delete/${employerId}`,
        success: function (data) {
          if (data) {
            swal("Thành công!", "", "success").then(function() {
                location.href = "/dashboard/admin/employers";
            });
          }
          else {
            swal({
              type: 'error',
              title: '',
              text: 'Có lỗi xảy ra! Vui lòng thử lại',
              footer: ''
            })
          }
        },
        error: (request, status, error) => {
            swal(request.responseJSON.message, "", "error");
        },
      });
    });
  });
</script>