<!DOCTYPE html>
<html class="js no-touch csstransforms csstransforms3d svg mdl-js" lang="">

    <head>
        <meta charset="utf-8">
        <title>Python Việt Nam</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" type="image/png" href="/favicon.ico">
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;display=swap&amp;subset=vietnamese"
            rel="stylesheet">
        <link rel="stylesheet" href="/public/view/mekongwork/ungvien/styles/bundle.css">
        <script type="text/javascript" async=""
            src="https://www.gstatic.com/recaptcha/releases/sG0iO6gHcGdWJzjJjW9AY49S/recaptcha__vi.js"
            crossorigin="anonymous"
            integrity="sha384-2pSj4GaCmaodIFcr27CrRNfoYD+gMtF1tZgi+nfgEbX5/H1Trp1xnyUTuaVfDCr/"></script>
        <script>
            URL_ROOT = '/';
            URLNOW = '/candidates/dashboard/update-profile';
            filesizeup = 10485760;
        </script>
        <script src="/public/view/mekongwork/ungvien/vendor/jquery/dist/jquery.js"></script>
        <script src="/public/lib/public/js/functiondef5.js"></script>
        <script src="/public/dashboard/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" charset="UTF-8"
            src="https://www.google.com/recaptcha/api.js?onload=__rcb801448&amp;render=explicit&amp;hl=vi-VN"></script>
        <style>
            #_no-clickjacking-0 {
                opacity: 1 !important;
                overflow: visible !important
            }
        </style>
        <style>
            .grecaptcha-badge {
                display: none !important;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/public/view/mekongwork/ungvien/vendor/dropzone/dropzone.css">
        <link rel="stylesheet" type="text/css" href="/public/view/mekongwork/ungvien/hoso/css/capnhathoso.css">
    </head>

    <body>
        <div class="modal bs-modal-sm middle-screen" id="modalNapTien" tabindex="-1" role="dialog" aria-hidden="true"
            data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Nạp tiền tài khoản</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <p>Số tiền nạp</p>
                            <div class="my-input-group">
                                <i class="fal fa-money-check-edit-alt"></i>
                                <input type="text" id="soTienNap" class="form-control inputGia"
                                    placeholder="Nhập số tiền muốn nạp">
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" id="btnNapTien" type="button">
                                Nạp tiền
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modalViewDetails" class="modal fade" role="dialog" data-backdrop="static" tabindex="-1"
            aria-hidden="true">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="lds-ellipsis" style="margin: 20px auto">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app layout-fixed-header">
            <!-- sidebar panel -->
            <div class="sidebar-panel offscreen-left">
                <div class="brand">
                    <!-- logo -->
                    <div class="brand-logo">
                        <div class="imgLogoNtd" id="imgLogoNtd">
                            <img src="/<%=detail.image%>">
                            <div>
                                <i class="fas fa-camera"></i>
                            </div>
                            <input class="fileAvatar updateAvatar" type="file" name="image" id="image"
                                value="<%=detail.image%>" accept="image/x-png,image/gif,image/jpeg">
                        </div>
                        <div class="brand-name">
                            <%=detail.name%>
                        </div>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main navigation -->
                <nav role="navigation" style="top: 200px" class="ps-container active open"
                    data-ps-id="aa5c704e-be69-2347-fa0a-5422e15a7a44">
                    <ul class="nav">
                        <li class="active">
                            <a href="/candidates/dashboard/update-profile">
                                <i class="fas fa-user-edit"></i>
                                <span>Cập nhật hồ sơ</span>
                            </a>
                        </li>
                        <li>
                            <a href="/candidates/dashboard/job-submitted">
                                <i class="fas fa-briefcase"></i>
                                <span>Việc làm đã nộp</span>
                            </a>
                        </li>
                        <li>
                            <a href="/auth/logout" class="btnLogout">
                                <i class="fas fa-sign-out"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
                        <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
                        <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
                    </div>
                </nav>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar panel -->
            <!-- content panel -->
            <div class="main-panel">
                <!-- top header -->
                <header class="header navbar">
                    <div class="brand visible-xs">
                        <!-- toggle offscreen menu -->
                        <div class="toggle-offscreen">
                            <a href="#" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        <!-- /toggle offscreen menu -->
                        <!-- logo -->
                        <!--                <div class="brand-logo">-->
                        <!--                    <img src="images/logo-dark.png" height="15" alt="">-->
                        <!--                </div>-->
                        <!-- /logo -->
                        <!-- /toggle chat sidebar small screen-->
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-ntd">
                            <a href="/">
                                <i class="fal fa-home-alt"></i>
                                <br>
                                Trang chủ
                            </a>
                        </li>
                        <li class="menu-ntd">
                            <a href="/jobs">
                                <i class="fal fa-briefcase"></i>
                                <br>
                                Việc làm mới
                            </a>
                        </li>
                    </ul>
                </header>
                <!-- main area -->
                <div class="main-content">
                    <div id="panelContent">
                        <div class="panel">
                            <div class="panel-heading">
                                <span style="font-weight: 500; font-size: 16px;">Thông tin cá nhân, hồ sơ</span>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <form id="frmEditInfo" class="">
                                        <div class="col-md-6 col-sm-6 col-xs-12 mb20">
                                            <label class="control-label" for="profileCode"><span
                                                    style="color: red">*</span>
                                                Mã hồ sơ</label>
                                            <div class="">
                                                <input type="number" name="profileCode" class="form-control"
                                                    value="<%=detail.profileCode%>" disabled="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 mb20">
                                            <label class="control-label" for="email"><span style="color: red">*</span>
                                                Email</label>
                                            <div class="">
                                                <input type="email" class="form-control" name="email"
                                                    value="<%=detail.user.email%>" disabled="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 mb20">
                                            <label class="control-label" for="name"><span style="color: red">*</span> Họ
                                                tên</label>
                                            <div class="">
                                                <input type="text" name="name" class="form-control"
                                                    value="<%=detail.name%>" required="" placeholder="Họ tên của bạn">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 mb20">
                                            <label class="control-label" for="phone"><span style="color: red">*</span>
                                                Số
                                                điện thoại</label>
                                            <div class="">
                                                <input type="text" name="phone" id="phoneNumInfo" minlength="10"
                                                    maxlength="10" class="form-control onlyNum"
                                                    value="<%=detail.phone%>" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 mb20">
                                            <label class="control-label" for="birthday"><span
                                                    style="color: red">*</span>
                                                Ngày sinh</label>
                                            <div class="">
                                                <input type="date" name="birthday" class="form-control"
                                                    value="<%= moment(detail.birthday).format('YYYY-MM-DD') %>"
                                                    required="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 mb20">
                                            <label class="control-label" for="address"><span style="color: red">*</span>
                                                Địa
                                                chỉ</label>
                                            <div class="">
                                                <input type="text" name="address" class="form-control"
                                                    value="<%=detail.address%>" required="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 mb20">
                                            <label class="control-label pt5" for="gender"
                                                style="display: inline-block"><span style="color: red">*</span> Giới
                                                tính</label>
                                            <select class="form-control" name="gender" required="">
                                                <% if (detail.gender==1) { %>
                                                    <option value="1" selected>Nam</option>
                                                    <option value="2">Nữ</option>
                                                    <% } else { %>
                                                        <option value="1">Nam</option>
                                                        <option value="2" selected>Nữ</option>
                                                        <% } %>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 mb20">
                                            <label class="control-label pt5" for="maritalStatus"
                                                style="display: inline-block"><span style="color: red">*</span> Tình
                                                trạng
                                                hôn nhân</label>
                                            <select class="form-control" name="maritalStatus" required="">
                                                <% if (detail.maritalStatus==1) { %>
                                                    <option value="1" selected>Độc thân</option>
                                                    <option value="2">Đã kết hôn</option>
                                                    <% } else { %>
                                                        <option value="1">Độc thân</option>
                                                        <option value="2" selected>Đã kết hôn</option>
                                                        <% } %>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 mb20">
                                            <label class="control-label" for="position"><span
                                                    style="color: red">*</span>
                                                Cấp bậc mong muốn</label>
                                            <div class="">
                                                <input type="text" name="position" class="form-control"
                                                    style="width: 50%;" value="<%= detail.position %>" required="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mb20">
                                            <label class="control-label" for="salary"><span style="color: red">*</span>
                                                Mức
                                                lương mong muốn</label>
                                            <div class="">
                                                <input type="text" name="salary" class="form-control"
                                                    value="<%= detail.salary %>" required="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 mb20">
                                            <label class="control-label" for="experience"><span
                                                    style="color: red">*</span>
                                                Kinh nghiệm</label>
                                            <div class="">
                                                <input type="text" name="experience" class="form-control"
                                                    value="<%= detail.experience %>" required="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 mb20">
                                            <label class="control-label" for="level"><span style="color: red">*</span>
                                                Trình
                                                độ học vấn</label>
                                            <div class="">
                                                <input type="text" name="level" class="form-control"
                                                    value="<%= detail.level %>" required="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 mb20">
                                            <label class="control-label" for="careerId"><span
                                                    style="color: red">*</span> Ngành
                                                nghề</label>
                                            <div class="">
                                                <select class="form-control select2 select2-hidden-accessible"
                                                    multiple="" id="careerId" name="careerId" required="" tabindex="-1"
                                                    aria-hidden="true">
                                                    <% for (const item of career) { %>
                                                        <option value="<%= item.id %>" <%=item.check===true ? "selected"
                                                            : "" %>><%= item.name %>
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 mb20">
                                            <label class="control-label" for="locationId"><span
                                                    style="color: red">*</span> Địa điểm</label>
                                            <div class="">
                                                <select class="form-control select2 select2-hidden-accessible"
                                                    multiple="" id="locationId" name="locationId" required=""
                                                    data-placeholder="Chọn tối đa 4 địa điểm" tabindex="-1"
                                                    aria-hidden="true">
                                                    <% for (const item of location) { %>
                                                        <option value="<%= item.id %>" <%=item.check===true ? "selected"
                                                            : "" ; %>><%= item.name %>
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 mb20 checkbo" id="divMucTieu">
                                            <label class="control-label" for="careerGoals"><span
                                                    style="color: red">*</span> Mục tiêu nghề
                                                nghiệp</label>
                                            <div class="">
                                                <textarea class="form-control" style="width: 100%;" name="careerGoals"
                                                    id="careerGoals"><%= detail.careerGoals %></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 mb20 checkbo" id="divMucTieu">
                                            <label class="control-label" for="skill"><span style="color: red">*</span>
                                                Kĩ năng bản thân</label>
                                            <div class="">
                                                <textarea class="form-control" style="width: 100%;" name="skill"
                                                    id="skill"><%= detail.skill %></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12 text-center">
                                            <button class="btn btn-primary" id="update"><i
                                                    class="fad fa-check-circle"></i>
                                                Cập nhật</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /main area -->
                <!-- /content panel -->
                <script src="https://cdn.firebase.com/libs/firebaseui/4.2.0/firebaseui.js"></script>
                <link type="text/css" rel="stylesheet"
                    href="https://cdn.firebase.com/libs/firebaseui/4.2.0/firebaseui.css">
                <script type="text/javascript"
                    src="/public/view/mekongwork/ungvien/vendor/dropzone/dropzone.js"></script>
                <script>
                    sdtUser = '+84337067439';
                </script>
                <script src="/public/view/mekongwork/ungvien/hoso/js/capnhathoso.js"></script><!-- bottom footer -->

                <!-- /bottom footer -->
            </div>
            <script src="/public/view/mekongwork/ungvien/vendor/bootstrap/dist/js/bootstrap.js"></script>
            <script type="text/javascript" src="/public/view/mekongwork/ungvien/scripts/bundle.js"></script>

            <div id="_no-clickjacking-0"
                style="visibility: hidden; position: absolute; width: 100%; top: -10000px; left: 0px; right: 0px; transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s; opacity: 1; overflow: visible;">
                <div
                    style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: rgb(255, 255, 255); opacity: 0.5;">
                </div>
                <div
                    style="margin: 0px auto; top: 0px; left: 0px; right: 0px; position: absolute; border: 1px solid rgb(204, 204, 204); z-index: 2000000000; background-color: rgb(255, 255, 255); overflow: hidden;">
                    <iframe title="thử thách xác thực recaptcha"
                        src="https://www.google.com/recaptcha/api2/bframe?hl=vi&amp;v=sG0iO6gHcGdWJzjJjW9AY49S&amp;k=6LcMZR0UAAAAALgPMcgHwga7gY5p8QMg1Hj-bmUv&amp;cb=clru2fyopumg"
                        name="c-pixnxpopiph0" frameborder="0" scrolling="no"
                        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"
                        style="width: 100%; height: 100%;"></iframe>
                </div>
            </div>

            <script type="text/javascript">
                config = {};
                config.entities_latin = false;
                CKEDITOR.replace('careerGoals', {
                    config,
                });
                CKEDITOR.replace('skill', {
                    config,
                });
            </script>
            <script src="/public/dashboard/ckeditor/ckeditor.js"></script>
            <script type="text/javascript">
                $("#update").click(function (e) {
                    e.preventDefault();

                    const formData = new FormData();

                    formData.append('name', $('input[name=name]').val());
                    formData.append('phone', $('input[name=phone]').val());
                    formData.append('birthday', $('input[name=birthday]').val());
                    formData.append('address', $('input[name=address]').val());
                    formData.append('gender', $('select[name=gender]').val());
                    formData.append('maritalStatus', $('select[name=maritalStatus]').val());
                    formData.append('career', $('input[name=career]').val());
                    formData.append('position', $('input[name=position]').val());
                    formData.append('salary', $('input[name=salary]').val());
                    formData.append('experience', $('input[name=experience]').val());
                    formData.append('level', $('input[name=level]').val());
                    formData.append('careerId', $('select[name=careerId]').val());
                    formData.append('locationId', $('select[name=locationId]').val());
                    formData.append('careerGoals', CKEDITOR.instances['careerGoals'].getData());
                    formData.append('skill', CKEDITOR.instances['skill'].getData());

                    let change = true;
                    if (
                        !formData.get('name') ||
                        !formData.get('phone') ||
                        !formData.get('birthday') ||
                        !formData.get('address') ||
                        !formData.get('gender') ||
                        !formData.get('maritalStatus') ||
                        !formData.get('career') ||
                        !formData.get('position') ||
                        !formData.get('salary') ||
                        !formData.get('experience') ||
                        !formData.get('level') ||
                        !formData.get('careerId') ||
                        !formData.get('locationId') ||
                        !formData.get('careerGoals') ||
                        !formData.get('skill')
                    ) {
                        change = false;
                        swal({
                            type: 'error',
                            title: 'Có lỗi...',
                            text: 'Vui lòng điền đầy đủ thông tin !!!',
                            footer: ''
                        })
                    } if (change) {
                        $.ajax({
                            url: '/dashboard/candidate/update-profile',
                            type: 'POST',
                            data: formData,
                            success: function (data) {
                                if (data) {
                                    if (data == true) {
                                        swal("Thành công!", "", "success").then(function () {
                                            location.href = "/dashboard/candidate/update-profile";
                                        });
                                    }
                                    else {
                                        swal({
                                            type: 'error',
                                            title: 'Có lỗi...',
                                            text: data,
                                            footer: ''
                                        })
                                    }

                                }
                                else {
                                    swal({
                                        type: 'error',
                                        title: '',
                                        text: 'Có lỗi xảy ra! Vui lòng thử lại',
                                        footer: ''
                                    })
                                }
                            },
                            error: (request, status, error) => {
                                swal(request.responseJSON.message, "", "error");
                            },
                            cache: false,
                            contentType: false,
                            processData: false
                        });
                    }
                });

                $(function () {
                    $('input[type="text"]').change(function () {
                        this.value = $.trim(this.value);
                    });
                });

                $(function () {
                    $('textarea[type="text"]').change(function () {
                        this.value = $.trim(this.value);
                    });
                });
            </script>
    </body>

</html>